* {
    font-family: "JetBrains Mono", sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
}

@import "preview.css";
@font-face {
    font-family: 'Fuga0.1';
    src: url('../fonts/Fuga0.1.eot');
    src: url('../fonts/') format('embedded-opentype'), url('../fonts/Fuga0.1.woff2') format('woff2'), url('../fonts/Fuga0.1.woff') format('woff'), url('../fonts/Fuga0.1.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

* {
    font-family: "JetBrains Mono", sans-serif;
    /* box-sizing: border-box; */
}

html {
    max-width: 800px;
    margin: 10px auto;
}

:root {
    --bg: #fff;
    --fg: #222;
    --fga: #22222266;
    --ac: #416129;
    --aca: #41612922;
    --ac2: #D27036;
}

body {
    background-color: var(--bg);
}

#regForm {
    background-color: var(--bg);
    margin: 10px auto;
    padding: 30px;
    width: 50%;
    min-width: 300px;
    border: 1px solid var(--fg);
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid var(--fga);
    border-opacity: 0.5;
}

label {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0
}

input[type="text"],
textarea {
    background-color: var(--aca);
}

input[type="password"],
textarea {
    background-color: var(--aca);
}

select {
    width: 100%;
    outline: none;
    padding: 0 0 0 10px;
    padding: 10px 0;
    text-indent: 10px;
    display: inline-block;
    line-height: 18px;
    float: left;
}

input[type=checkbox] {
    width: 10%;
    vertical-align: text-middle;
    accent-color: var(--ac)
}

input[type=radio] {
    width: 10%;
    vertical-align: text-middle;
    accent-color: var(--ac)
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}


/* Hide all steps by default: */

.tab {
    display: none;
}

.tab>.form-title {
    font-size: 20px;
    font-weight: 800;
    color: var(--ac2);
    font-family: "Fuga0.1", sans-serif;
    text-align: left;
    margin-bottom: 10px;
}

h1 {
    font-size: 12px;
    font-family: "Fuga0.1", sans-serif;
    border-bottom: 2px solid var(--ac);
    text-align: center;
}

button {
    background-color: var(--ac);
    color: var(--bg);
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

.button2 {
    background-color: var(--bg);
    color: var(--fg);
    border: 1px solid var(--fg);
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: var(--ac);
}

#geo {
    background-color: var(--bg);
    border: 0px solid var(--fg);
    width: 35px;
    height: 35px;
    text-align: center;
}

.fa-location-arrow {
    font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: var(--ac);
    color: var(--bg);
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--ac);
    border-radius: 50%;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: var(--ac2);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.3;
}

.step.active {
    background-color: var(--ac2);
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: var(--ac);
    opacity: 1;
}