* {
    font-family: "JetBrains Mono", sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fuga0.1';
    src: url('../fonts/Fuga0.1.eot');
    src: url('../fonts/Fuga0.eot?#iefix') format('embedded-opentype'), url('../fonts/Fuga0.1.woff2') format('woff2'), url('../fonts/Fuga0.1.woff') format('woff'), url('../fonts/Fuga0.1.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

.theme-light {
    --fgr: #ebecee ;
    --bgr: #df6d26;
    --acc: #7b8235;
    --gray: #fbd405;
}

html {
    background-color: var(--bgr);
}

body {
    padding: 8px;
}

h1 {
    color: var(--gray);
    font-size: calc(25px + .2vw);
    font-family: "Fuga0.1", sans-serif;
    font-weight: 2000;
}

h2 {
    color: var(--acc);
    font-size: calc(24px + .2vw);
    font-family: "Fuga0.1", sans-serif;
    font-weight: 2000;
}

p,
#p2 {
    font-size: calc(12px + 0.1vw+ .1vmin);
}

#gauge1-txt {
    font-weight: bold;
    font-size: 100%;
    display: block;
    text-align: center;
}

#gauge1-txt:after {
    font-size: 70%;
    color: var(--acc);
    content: '\a mg/l';
    white-space: pre;
}

#gauge2-txt {
    font-weight: bold;
    font-size: 100%;
    display: block;
    text-align: center;
}

#gauge2-txt:after {
    font-size: 70%;
    color: var(--acc);
    content: '\a pH';
    white-space: pre;
}

#gauge3-txt {
    font-weight: bold;
    font-size: 100%;
    display: block;
    text-align: center;
}

#gauge3-txt:after {
    font-size: 60%;
    color: var(--acc);
    content: '\a ℃';
    white-space: pre;
}

#gauge4-txt {
    font-weight: bold;
    font-size: 100%;
    display: block;
    text-align: center;
}

#gauge4-txt:after {
    font-size: 60%;
    color: var(--acc);
    content: '\a μS/cm';
    white-space: pre;
}

#container-ox1 {
    width: 60%;
    /* max-height: 80%;  */
    object-fit: contain;
    margin: auto;
}

#container-ph1 {
    width: 70%;
    /* max-height: 50%;  */
    object-fit: contain;
    margin: auto;
}

#container-temp1 {
    width: 70%;
    /* max-height: 50%;  */
    object-fit: contain;
    margin: auto;
}

#container-cond1 {
    width: 70%;
    /* max-height: 50%;  */
    object-fit: contain;
    margin: auto;
}

#p2 {
    font-weight: 900;
    width: 100px;
}

.container-box {
    display: grid;
    column-gap: 0.6vmin;
    grid-template-columns: 22vw 19vw 19vw 19vw 18vw;
    grid-template-rows: 7vh 33vh 18vh 34vh 1vh;
    grid-template-areas: 'header1 header header header header2' 'ox ph te co su' 'oxf1 phf1 tef1 cof1 su' 'oxf2 phf2 tef2 cof2 su' 'footer footer footer footer footer';
}

.highcharts-figure,
.highcharts-data-table table {
    width: 100% !important;
    margin: auto;
    font-size: 5vw;
    */
}


/* @media() */

.box {
    background-color: var(--fgr);
    padding: 14px;
}

.header {
    grid-area: header;
    background-color: var(--bgr);
    color: var(--acc);
    font-weight: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header h2 {
    font-size: calc(24px + .3vw);
    font-family: "Fuga0.1", sans-serif;
}

.header1 {
    grid-area: header1;
    background-color: var(--bgr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2 {
    grid-area: header2;
    background-color: var(--bgr);
    color: var(--fgr);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.ox {
    grid-area: ox;
    overflow-y: scroll;
}

.oxf1 {
    grid-area: oxf1;
    display: grid;
    position: relative;
}

.oxf1:after {
    position: absolute;
    align: center;
    top: 50%;
    left: 50%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: serif;
    font-weight: bold;
    white-space: pre;
    font-size: 1.2vmax;
    background-color: var(--fgr);
    word-wrap: break-word;
    /* content: '⚠ Problem with the sensor'; */
}

.oxf2 {
    grid-area: oxf2;
    align: center;
    display: grid;
    position: relative;
}

.ph {
    grid-area: ph;
    align: center;
    overflow-y: scroll;

}

.phf1 {
    grid-area: phf1;
    display: grid;
    align: center;
    position: relative;
}

.phf2 {
    grid-area: phf2;
    align: center;
    display: grid;
    position: relative;
    /* -webkit-filter: grayscale(100%); */
    /* opacity: 0.7; */
}

.te {
    grid-area: te;
    overflow-y: scroll;
    /* -webkit-filter: grayscale(100%); */
    /* opacity: 0.7; */
}

.tef1 {
    grid-area: tef1;
    display: grid;
    position: relative;
    /* -webkit-filter: grayscale(100%); */
    /* opacity: 0.7; */
}

.tef2 {
    grid-area: tef2;
    align: center;
    display: grid;
    position: relative;
}

.co {
    grid-area: co;
    overflow-y: scroll;
    /* -webkit-filter: grayscale(100%); */
    /* opacity: 0.7; */
}

.cof1 {
    grid-area: cof1;
    display: grid;
    position: relative;
    /* -webkit-filter: grayscale(100%); */
    /* opacity: 0.7; */
}

.cof2 {
    grid-area: cof2;
    align: center;
    display: grid;
    position: relative;
    /* -webkit-filter: grayscale(100%); */
    /* opacity: 0.7; */
}

.su {
    grid-area: su;
    position: relative;
    /* -webkit-filter: grayscale(100%); */
    /* opacity: 0.7; */
}

.footer {
    grid-area: footer;
    background-color: var(--bgr);
    color: var(--fgr);
    font-weight: 800px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.su img {
    max-width: 100%;
    /* or any custom size */
    /* max-height: 100%; */
    text-align: center;
    display: block;
    margin: auto;
}

@media only screen and (max-width: 1366px) {
    .container-box {
        row-gap: 10px;
        column-gap: 0px;
        grid-template-columns: 33vw 32vw 32vw;
        grid-template-rows: 100px repeat(4, 400px) 850px 40px;
        grid-template-areas: "header1 header header2" "ox  oxf1 oxf2" "ph phf1 phf2" "te tef1 tef2" "co cof1 cof2" "su su ." "footer footer footer";
    }

    .header {
        font-size: 22px
    }
    p,
    #p2 {
        font-size: 18px;
    }

}

@media only screen and (max-width: 1280px) {
    .container-box {
        row-gap: 10px;
        column-gap: 0px;
        grid-template-columns: 49vw 48vw;
        grid-template-rows: 50px 50px repeat(8, 290px) 850px 40px;
        grid-template-areas: "header1  header2" "header header" "ox  ox" "oxf1 oxf2" "ph  ph" "phf1 phf2" "te te" "tef1 tef2" "co co" "cof1 cof2" "su su" "footer   footer";
    }
    .box {
        border-radius: 0px;
    }
    .
    p,
    #p2 {
        font-size: 18px;
    }
}


}