.box-txt {
    background-color: red;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    padding: 10px;
}
.box-fig {
    background-color: greenyellow;
    height: 40vh;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

}
html, body{
    background-color: blueviolet;
}
