
:root {
    --fgr: #1E1E2E;
    --bgr: #F4F5F5;
  }

  html{
    background-color: var(--bgr);
    font-family: 'Roboto', sans-serif;
}

.parent {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: 30vw 68vw;;
    grid-template-rows: 5vh 92vh;
    grid-template-areas:
        'frame header'
        'frame map';
}

@media only screen and (min-device-width: 320px) and (max-width: 1280px)  {
    .parent{
        row-gap:5px;
        grid-template-columns: 98vw;
        grid-template-rows: 5vh 50vh 42vh;
        grid-template-areas:
        'header'
        'map'
        'frame';
    }
}

.header { 
    grid-area: header; 
    color: var(--fgr);
    border-bottom: 1px solid var(--fgr);
    font-size: 18px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

#frame{
    grid-area:frame;
    border: 1px solid var(--fgr);
}

#map { 
    grid-area: map;
    border: 1px solid var(--fgr);
    z-index: 0;
} 

.full {
    width:100%; 
    height:100%
}