* {
    font-family: "JetBrains Mono", sans-serif;
    /* box-sizing: border-box; */
    /* line-height: 1.5; */
}

@font-face {
    font-family: 'Fuga0.1';
    src: url('../fonts/Fuga0.1.eot');
    src: url('./fonts/') format('embedded-opentype'), url('./fonts/Fuga0.1.woff2') format('woff2'), url('./fonts/Fuga0.1.woff') format('woff'), url('./fonts/Fuga0.1.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

:root {
    --bg: #fff;
    --fg: #222;
    --ac: #416129;
    --ac2: #D27036;
}

a {
    color: var(--ac);
    text-decoration: none;
}

a:hover {
    color: var(--ac2);
    ;
}

h1,
h2 {
    font-family: "Fuga0.1", sans-serif;
}

html {
    font-size: 22px;
    max-width: 500px;
    margin: auto;
}

body {}

.card {
    background-color: var(--bg);
    border: 1px solid var(--fg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 30px;
    margin: 0;
    ;
}

.cards {
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
}


/* Screen larger than 600px? 2 column */

@media (min-width: 1240px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Screen larger than 900px? 3 columns */

@media (min-width: 1440px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* @media (width: 600px) {
    .article {
        grid-template-rows: 20vh 20vh;
        grid-template-columns: 20vw 20vw;
        grid-gap: 10px;
    }
} */