@font-face {
    font-family: 'Fuga0.1';
    src: url('../fonts/Fuga0.1.eot');
    src: url('../fonts/Fuga0.eot?#iefix') format('embedded-opentype'), url('../fonts/Fuga0.1.woff2') format('woff2'), url('../fonts/Fuga0.1.woff') format('woff'), url('../fonts/Fuga0.1.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

:root {
    --sidebar-width: 200px;
    --black : #505050;
    --white: #F5F5F5;
    --bg:  #DF6D26 ;
    --accent: #FBD204 ;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: var(--sidebar-width);
    padding: 0 15px;
    overflow-x: hidden;
    background-color: var(--bg);
    opacity: 0.8;
    transform: translateX(0); 
    box-shadow: 1px 0 15px -2px #333;
  }
  
  
  .close {
    transform: translateX(-100%);
  }
  
  .sidebar-link {
    display: block;
    margin-top: 10px;
    font-size: 1.125rem;
    color: var(--white);
    background-color: var(--bg);
    border: none;
    text-decoration: none;
    padding: 6px 14px;

  }

  .sidebar-link:hover {

    border: 1px solid var(--white);
    border-radius: 30px;
    text-decoration: none;
  }
  
  .sidebar-close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1060; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 32px;
    color: var(--white);
    background-color: var(--bg);
    border: 0;
    border-radius: 50%;
  }
html, body{
    background-color: var(--bg);
    font-family: Poppins;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
}

/* nav */
.navbar .navbar-header,
.navbar-collapse .navbar-custom{
    float:none;
    display:inline-block;
    vertical-align: top;
}

.navbar-custom{
    /* display: flex; */
    color: var(--accent);
    height: 50px;
    padding-bottom: 10px;
}

.navbar-brand {
    font-family: "Fuga0.1", sans-serif;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.highcharts-figure{
    width: 100%;
    height: 0px;
}


/* cards  */
.card{
    padding-top: 10px; 
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);  
}

.card.light{
    color: var(--black);
    background-color: var(--white);

}
.card.dark {
    background-color: var(--black);
    color: var(--white);
    opacity:0.85;
}

.card-title{
    font-family: "Fuga0.1", sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 4px;
    margin-bottom: 3px;
}

.card-body{
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
}

.card-text{
    text-justify: auto;
    font-size: .9rem;
    line-height: 1.3;
}

.card-img-top{
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
}


/* table */
.cell{
    padding:2px;
}

.trow{
   line-height: .02;
}


/* images */
img{
    min-width: 200px;
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* other */
.center {
    padding: 20%;
    align-items: center; 
    text-align:center;
}

.center a {
    text-decoration: none;
    color: var(--white);
    border-bottom: 2px solid var(--white);
    font-weight: 900;
}

.center a:hover{
    font-style: italic;
}

.qual1{
    font-size: 28px;
    font-weight: 900;
    border-left: 10px solid transparent;
    justify-content: center;
    align-items: center;
    display: flex; 
    color: var(--white);
}

.now{
    color: var(--accent);
    font-size: 1.1rem;
}

/* buttons */

.btn-mod.btn-small {
    margin-top: 15px;
    height: 32px;
    padding: 6px 8px;
    font-size: 0.7rem;
}

/* Button Mod to the original Bootstrap Buttons */

.btn-mod.btn-circle {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.btn-mod.btn-border {
    color: var(--white);
    border: 2px solid var(--white);
    background: transparent;
}

.btn-mod, a.btn-mod {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 4px 13px; */
    color: #fff;
    background: rgba(34,34,34, .9);
    border: 2px solid transparent;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover, .btn-mod.btn-border:focus{
    color: var(--white);
    border-color: transparent;
    background: var(--accent);
}

.btn-mod:hover, .btn-mod:focus, a.btn-mod:hover, a.btn-mod:focus {
    font-weight: 400;
    color: rgba(255,255,255, .85);
    background: rgba(0,0,0, .7);
    text-decoration: none;
    outline: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Reveal icon on hover */

a.btn.btn-mod.btn-border.animation-one span {
  cursor: pointer;
  /* display: inline-block; */
  position: relative;
  transition: 0.3s;
}

a.btn.btn-mod.btn-border.animation-one span:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

a.btn.btn-mod.btn-border.animation-one:hover span {
  padding-right: 25px;
}

a.btn.btn-mod.btn-border.animation-one:hover span:after {
  opacity: 1;
  right: 0;
}
