/* colors */
:root {
    --color-bg: #f5f5f5;
    --color-fg: #2c2c2b;
    --color-alt: #555555;
}

/* .theme-light {
    --color-bg: #F6F6F6;
    --color-fg: #434343;
    --color-alt: #747474;
} */

.theme-dark {
    --color-fg: #f5f5f5;
    --color-bg: #2c2c2b;
    --color-alt: #555555;
}

/* fonts */
* {
    font-family: 'Inter', sans-serif;
}

html,
body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--color-fg);
    background-color: var(--color-bg);
    width: 98%;
}

.MathJax {
	font-size: 22px;
	}

/* Navbar Styles */

/* Navbar Styles */
.navbar {
  position: fixed;
  width: 95%;
  height: 50px;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.navbar a {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-weight: 600;
}

.navbar a:hover {
  font-style: oblique;
  color: var(--color-bg);
}

.navbar .navbar-toggler-icon,
.navbar .navbar-toggler-icon:before {
  color: var(--color-fg);
  background-color: var(--color-bg);
  outline: none;
  box-shadow: none;
  border: none;
}

.navbar .nav-link {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: 1.2rem;
  font-weight: 900;
}

.navbar .nav-link:hover {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

.navbar .navbar-toggler,
.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active,
.navbar .navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
  color: var(--color-bg)!important;
}

/* other links  */

a {
    background-color: var(--color-fg);
    color: var(--color-bg);
    text-decoration: none;
    font-weight: 900;
}

a:hover {
    font-style: oblique;
    color: var(--color-bg);

}

/* Main Content Styles */
.section {
    padding-top: 20vh;
    height: 100vh;
    width: 80%;
    margin : 0;
    margin-left:auto;
    margin-right:auto;

}

.section_back{
  padding-top: 3vh;
  margin : 10;
  margin-right:auto;
}

/* Main Content Styles */
.section_app {
  padding-top: 10vh;
  height: 100vh;
  width: 80%;
  margin : 0;
  margin-left:auto;
  margin-right:auto;

}

.doi{
    font-size: 0.8rem;
}

.lplus a {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

.rounded-circle {
    border: 2px solid var(--color-fg);
    width: 250px;
    min-width: 150px;
    max-width: 100%;
    justify-content: center;
}

.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.grayscale:hover{
    filter:none;
}

.fa, .ai {
	align-items: center;
    padding: 10px;
	color: var(--color-fg);
    background-color: var(--color-bg);
}

.fa-icons{
	min-width: 200px;
    font-size: 2rem;
}

.section, h1, h2{
    margin-bottom: 20px;
}

/* accordion */
.accordion-button,
.accordion-header {
    border: 1px solid var(--color-bg);
    background-color: var(--color-fg);
    color: var(--color-bg);
}

.accordion-button:not(.collapsed) {
    border: none;
    border-bottom: 4px solid var(--color-fg);
    color: var(--color-fg);
    font-weight: bold;
    font-size: 1.4rem;
    background-color: var(--color-bg);
}

.accordion-collapse {
    background-color: var(--color-bg);
    color: var(--color-fg);
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.accordion-item {
    background-color: var(--color-bg);
    border: none;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* cards  */
.card {
    margin-right: 30px !important;
    margin-bottom: 30px !important;
    background-color: var(--color-bg);
    border: 2px solid var(--color-fg);
    min-height: 500px;
    min-width: 200px;
}

.card1 {
    background-color: var(--color-fg);
    color: var(--color-bg);
}

.card-title {
    padding-bottom: 30px;
}

.card1 .card-link {
    background-color: var(--color-fg);
    color: var(--color-bg);
    border: 1px solid var(--color-alt);
}

.card1 .card-link:hover {
    color: var(--color-bg);
}

.card-link {
    background-color: var(--color-bg);
    color: var(--color-fg);
    border: 1px solid var(--color-alt);
    padding: 5px;
    bottom: 0;
}

.card-link:hover {
    color: var(--color-fg);
}

/* theme switcher */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-alt);
    transition: 0.4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: var(--color-fg);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-fg);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
