/* CSS Document */

* {
    font-family: "JetBrains Mono", sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
}

@import "preview.css";
@font-face {
    font-family: 'Fuga0.1';
    src: url('../fonts/Fuga0.1.eot');
    src: url('../fonts/') format('embedded-opentype'), url('../fonts/Fuga0.1.woff2') format('woff2'), url('../fonts/Fuga0.1.woff') format('woff'), url('../fonts/Fuga0.1.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

:root {
    --bg: #fff;
    --fg: #222;
    --ac: #416129;
    --ac2: #D27036;
}

body {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
    background: transparent;
    background: var(--bg);
}

h1,
h2 {
    font-family: "Fuga0.1", sans-serif;
}

.clear {
    clear: both;
}

#wrapper {
    display: block;
    width: 30%;
    max-height: 100%;
    background: var(--fg);
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 100%;
    position: relative;
    padding: 20px;
    clear: both;
    margin: 20px auto;
    background: var(--bg);
    zoom: 1;
    border: 1px solid var(--fg);
}

.sections {
    position: relative;
    padding: 20px;
    clear: both;
}

.sections .section-holder {
    position: relative;
    width: 100%;
    clear: both;
}

.sections .section {
    display: none;
    min-width: 100%;
    max-width: 00px;
}

.sections .current {
    display: block;
}

.progress-bar {
    position: relative;
    border: 1px solid var(--fg);
    width: 100%;
    height: 25px;
    background: var(--bg);
    zoom: 1;
}

.progress-bar .progress {
    position: relative;
    width: 0;
    height: 23px;
    background-color: var(--ac);
}

.progress-bar .progress-text {
    position: relative;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: var(--ac2);
    top: -25px;
    font-size: 18px;
}

.sections .back {
    float: left;
}

.sections .next,
.sections .submit {
    float: right;
}

.sections .back,
.next {
    cursor: pointer;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
    color: var(--fg);
    padding: 3px 20px;
    background: var(--bg);
    border: 1px solid var(--fg);
}

.sections .back:hover,
.sections .next:hover {
    cursor: pointer;
    margin: 10px 0;
    font-size: 14px;
    padding: 3px 20px;
    background: var(--ac);
    color: var(--bg);
}

.sections .submit input[type=submit] {
    cursor: pointer;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
    color: var(--fg);
    background: var(--ac);
    color: var(--fg);
}

.sections .focus {
    border: 2px solid #09c;
    border-radius: 25px;
}

.sections .valid,
.sections input[type=text].valid,
.sections input[type=password].valid,
.sections input[type=email].valid,
.sections input[type=checkbox].valid {
    border: 1px solid var(--fg);
}

.sections .invalid,
.sections input[type=text].invalid,
.sections input[type=password].invalid,
.sections input[type=email].invalid {
    border: 2px solid #f00;
}

.sections label {
    width: 100%;
    display: block;
}

.sections input[type=text],
.sections input[type=password],
.sections input[type=email],
.sections select,
.sections textarea {
    width: 100%;
    outline: none;
    padding: 0 0 0 10px;
    padding: 10px 0;
    text-indent: 10px;
    display: inline-block;
    line-height: 18px;
    float: left;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    margin: 5px 1px 3px 0px;
    color: var(--fg);
}

.sections input placeholder,
.sections input placeholder,
.sections select placeholder,
.sections textarea placeholder {
    color: var(--ac);
}

.sections input[type=text]:focus,
.sections input[type=password]:focus,
.sections input[type=email]:focus,
.sections select:focus,
.sections textarea:focus {
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid var(--ac);
    padding: 10px 0;
    text-indent: 10px;
    display: inline-block;
    line-height: 18px;
}

.sections select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: "";
}

.sections .form-title,
.sections .section-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--fg);
    text-align: center;
    margin-bottom: 10px;
}

.sections .form-title {
    font-size: 24px;
    border-bottom: 2px solid var(--ac);
}

.sections strong {
    color: var(--ac);
    ;
}

.sections h1,
.sections h2 {
    color: var(--ac);
    font-size: 18px;
}

.sections p {
    font-weight: normal;
}

.sections p.line {
    width: 100%;
    border-bottom: 1px solid var(--ac);
    ;
    margin: 10px 0;
    height: 1px;
}

.sections .submit-data {
    cursor: pointer;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
    color: var(--fg);
    padding: 3px 20px;
    background: var(--bg);
    border: 1px solid var(--fg);
}


/* ------- Email Format -------- */

.email-format {
    color: #09c;
}

.email-format-title {
    color: #000;
}

.email-format-wrapper {
    width: 100%;
    background: var(--bg);
    margin: 0;
    padding: 20px;
}

.email-format-body {
    color: var(--fg);
    width: 320px;
    background: var(--bg);
    margin: 20% auto;
    padding: 20px;
    border: 1px solid var(--bg);
}

.none {
    display: none;
}

#preloader {
    position: relative;
    text-align: center;
    visibility: visible;
}

#preloader img {
    background: var(--bg);
}

input[type="radio"] {
    accent-color: var(--ac);
}

input[type="checkbox"] {
    accent-color: var(--ac);
}