* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.theme-musee {
    --fgr: #f6ebdc;
    --bgr: #2e383f;
    --acc: #a6d6cd;
    --title: #2a2f76;
}

html {
    background-color: var(--bgr);
}

body {
    padding: 10px;
}

h2 {
    color: var(--title);
    font-size: calc(24px + .3vw);
    font-weight: 900;
}

p,
#p2 {
    font-size: calc(.6vw + 0.4vmin);
}

#gauge1-txt {
    font-weight: bold;
    font-size: 120%;
    display: block;
    text-align: center;
}

#gauge1-txt:after {
    font-size: 60%;
    color: var(--gray);
    content: '\a mg/l';
    white-space: pre;
}

#gauge2-txt {
    font-weight: bold;
    font-size: 120%;
    display: block;
    text-align: center;
}

#gauge2-txt:after {
    font-size: 60%;
    color: var(--gray);
    content: '\a pH';
    white-space: pre;
}

#gauge3-txt {
    font-weight: bold;
    font-size: 120%;
    display: block;
    text-align: center;
}

#gauge3-txt:after {
    font-size: 60%;
    color: var(--gray);
    content: '\a ℃';
    white-space: pre;
}

#gauge4-txt {
    font-weight: bold;
    font-size: 120%;
    display: block;
    text-align: center;
}

#gauge4-txt:after {
    font-size: 60%;
    color: var(--gray);
    content: '\a μS/cm';
    white-space: pre;
}

#container-ox1 {
    max-width: 100%;
    /* max-height: 50%;  */
    object-fit: contain;
    margin: auto;
}

#container-ph1 {
    max-width: 100%;
    /* max-height: 50%;  */
    object-fit: contain;
    margin: auto;
}

#container-temp1 {
    max-width: 100%;
    /* max-height: 50%;  */
    object-fit: contain;
    margin: auto;
}

#container-cond1 {
    max-width: 100%;
    /* max-height: 50%;  */
    object-fit: contain;
    margin: auto;
}

#p2 {
    font-weight: 900;
}

.container-box {
    display: grid;
    column-gap: 1vmin;
    grid-template-columns: 21vw 18.4vw 18.4vw 18.4vw 18.4vw;
    grid-template-rows: 10vh 27vh 27vh 30vh 1vh;
    grid-template-areas: 'header1 header header header header2' 'ox ph te co su' 'oxf1 phf1 tef1 cof1 su' 'oxf2 phf2 tef2 cof2 su' 'footer footer footer footer footer';
}

.highcharts-figure,
.highcharts-data-table table {
    width: 100% !important;
    margin: auto;
    font-size: 5vw;
}


/* @media() */

.box {
    background-color: var(--fgr);
    padding: 20px;
}

.header {
    grid-area: header;
    background-color: var(--bgr);
    color: var(--acc);
    font-family: "Poppins", sans-serif;
    font-size: 2.1vw;
    font-weight: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header1 {
    grid-area: header1;
    background-color: var(--bgr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header2 {
    grid-area: header2;
    background-color: var(--bgr);
    color: var(--fgr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.ox {
    grid-area: ox;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: scroll;
    /* -webkit-filter: grayscale(100%); */
}

.oxf1 {
    grid-area: oxf1;
    display: grid;
    /* -webkit-filter: grayscale(100%); */
    position: relative;
}

.oxf1:after {
    position: absolute;
    align: center;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    display: inline-block;
    word-wrap: break-word;
    transform: translate(-50%, -50%);
    font-family: serif;
    font-weight: bold;
    /* content: '⚠ Problem with the sensor'; */
    white-space: pre;
    font-size: 22px;
    background-color: var(--fgr);
    word-wrap: break-word;
}

.oxf2 {
    grid-area: oxf2;
    display: grid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* -webkit-filter: grayscale(100%); */
    position: relative;
}

.ph {
    grid-area: ph;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: scroll;
}

.phf1 {
    grid-area: phf1;
    display: grid;
    position: relative;
}

.phf2 {
    grid-area: phf2;
    display: grid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.te {
    grid-area: te;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-filter: grayscale(100%);
    overflow-y: scroll;
}

.tef1 {
    grid-area: tef1;
    display: grid;
    position: relative;
    -webkit-filter: grayscale(100%);
}

.tef2 {
    grid-area: tef2;
    display: grid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    -webkit-filter: grayscale(100%);
}

.co {
    grid-area: co;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: scroll;
}

.cof1 {
    grid-area: cof1;
    display: grid;
    position: relative;
}

.cof2 {
    grid-area: cof2;
    display: grid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.su {
    grid-area: su;
    position: relative;
}

.footer {
    grid-area: footer;
    background-color: var(--bgr);
    color: var(--fgr);
    font-weight: 800px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.su img {
    max-width: 90%;
    /* or any custom size */
    height: 10%;
    object-fit: contain;
    margin: auto;
}

mymsg1,
mymsg2 mymsg3,
mymsg4,
mymsg5,
p2 {
    color: var(--bgr);
}

@media only screen and (max-width: 1365px) {
    .container-box {
        row-gap: 10px;
        column-gap: 0px;
        grid-template-columns: 31vw 31vw 31vw;
        grid-template-rows: 100px repeat(4, 400px) 850px 40px;
        grid-template-areas: "header1 header header2" "ox  oxf1 oxf2" "ph phf1 phf2" "te tef1 tef2" "co cof1 cof2" "su su ." "footer footer footer";
    }
    .box {
        border-radius: 20px;
    }
    .header {
        font-size: 22px
    }
    p,
    #p2 {
        font-size: 16px;
    }
    .box {
        border-radius: 0px;
    }
}

@media only screen and (max-width: 1099px) {
    .container-box {
        row-gap: 10px;
        column-gap: 0px;
        grid-template-columns: 46vw 46vw;
        grid-template-rows: 50px 50px repeat(8, 290px) 850px 40px;
        grid-template-areas: "header1  header2" "header header" "ox  ox" "oxf1 oxf2" "ph  ph" "phf1 phf2" "te te" "tef1 tef2" "co co" "cof1 cof2" "su su" "footer   footer";
    }
    .box {
        border-radius: 0px;
    }
    p,
    #p2 {
        font-size: 14px;
    }
}